.video-icon {
    width: 3rem;
    padding: 0.2rem;
}
.copy-btn {
    font-size: 2rem;
    vertical-align: middle;
}
.link-block {
    border: 1px dashed darkslategrey;
    padding: 1rem;
}

.search-filter-block {
    display: flex;
    position: relative;
    top: -4rem;
    margin-bottom: 1rem;
}
.search-filter {
    width: 20rem;
    border: 2px solid #79abdf;
    margin-right: 0.5rem;
}
.search-btn {
    height: 2.8rem;
    border: 2px solid #79abdf;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.case-status {
    position: relative;
    top: -0.5rem;
    margin-bottom: 1rem;
}

.disabled-btn {
    cursor: not-allowed;
    border-color: #afb1b4;
}

.tree-root {
    list-style: none;
    padding-left: 0;
}

.tree-node {
    position: relative;
    margin-bottom: 1rem;
    padding: 0.8rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.68);
}
.month-group {
    border-left: 2px solid #007bff;
    background: linear-gradient(
            to bottom right,
            #007bff 0%,
            white 75%,
            #f2a865 100%
    );
}
.tree-header {
    position: absolute;
    left: -5.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background: #00000030;
    width: 5.2rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.tree-header strong {
    font-size: 1.2rem;
}

.tree-header small {
    font-size: 12px;
    color: #6c757d;
}

.container {
    font-family: Arial, sans-serif;
    padding-left: 2rem;
}
.card {
    border: 1px solid #ddd;
}
.card-header {
    background-color: #f2a865;
}
.table {
    margin-bottom: 0;
}
@media screen and (max-width: 992px) {
    .search-filter-block {
        position: relative;
        top: -2rem;
        margin-bottom: 4rem;
    }
    .case-status {
        position: absolute;
        top: 3.5rem;
    }
}
@media screen and (max-width: 640px) {
    .tree-header {
        position: relative;
        left: 0;
        background: inherit;
        padding: 0rem;
    }
}
.count-open-cases {
    position: absolute;
    left: 9rem;
    color: #a2530c;
}
#videoPlayer {
    width: 100%;
    height: 100%;
    min-height: 30rem;
}
.player-wrapper {
    padding-top: 2rem;
    position: relative;
    width: 90%;
    height: 99%;
    background: white;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #466cae;
    border-radius: 0.3rem;
}
.player-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.player-blur {
    position: relative;
    background: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.close-btn i {
    font-size: 1.5rem;
    font-weight: bold;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.video-icon {
    width: 3rem;
    padding: 0.2rem;
}
.copy-btn {
    font-size: 2rem;
    vertical-align: middle;
}
.link-block {
    border: 1px dashed darkslategrey;
    padding: 1rem;
}
.reopen-btn-block {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    padding-bottom: 0.5rem;
}
.reopen-header {
    display: flex;
    justify-content: space-between;
}