.header-block {
    width: 100%;
    height: 3.5rem;
    align-content: space-evenly;
}
.header {
    margin: 0;
    padding: 0 !important;
}

@media (max-width: 1083px) {
    .header-block {
        height: 6.5rem;
    }
}

@media (max-width: 620px) {
    .header-block {
        height: 9.5rem;
    }
}

